body{
    margin: 0px;
    background-color: #05203b;
}
.nav{
    display: flex;
    justify-content: flex-end;
    background-image: url(anime.png);
    background-repeat: no-repeat;  
    background-size: cover;       
    background-position: center;   
    color: blue;
    color: blue;
}
.innav{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.navB{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: yellow;
    color: black;
}
.logo{
    margin: 30px;
    display: flex;
}
.logo img{
    width: 500px;
    border-radius: 50%;
}
.logo h1{
    font-size: 50px;
    color: rgb(14, 133, 202);
    margin-top: 10%;
    margin-left: 8%;
}
.logo2{
    margin: 30px;
    display: flex;
}
.logo2 img{
    width: 500px;
    border-radius: 50%;
}
.logo2 h1{
    font-size: 50px;
    color: rgb(14, 133, 202);
    margin-top: 10%;
}
.logout{
    background-color: black;
    margin: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 60px;
}
.logout img{
    display: flex;
    margin-left: 150px;
}
.login{
    width: 500px;
    height: 40px;
    margin-left: 500px;
    border-radius: 20px;
}
.Royhat{
    background-color: yellow;
    margin-left: 500px;
    margin-bottom: 30px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}
.Royhat2{
    background-color: yellow;
    margin-bottom: 30px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}
.error {
      color: red;
      text-align: center;
      margin-top: 10px;
    }




footer {
  background-color: #111;     
  color: #fff;                
  text-align: center;         
  padding: 50px 20px;         
  margin-top: 40px;
}

.footer-container h2 {
  margin-bottom: 15px;
  font-size: 28px;            
  color: yellow;              
}

.footer-container p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #bbb;
}

.footer-links a {
  color: yellow;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

.footer-links a:hover {
  color: white;
}
